---
http_interactions:
- request:
    method: get
    uri: https://overwatch-api.net/api/v1/hero/18
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fac80b0f46d3efef4cb417586d4231d0"
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '499'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "id": 18,
            "name": "Tracer",
            "description": "Toting twin pulse pistols, energy-based time bombs, and rapid-fire banter, Tracer is able to \\blink\\\" through space and rewind her personal timeline as she battles to right wrongs the world over.\"\"\"",
            "health": 150,
            "armour": 0,
            "shield": 0,
            "real_name": "Lena Oxton",
            "age": 26,
            "height": 162,
            "affiliation": "Overwatch",
            "base_of_operations": "London, England",
            "difficulty": 2,
            "url": "https:\/\/overwatch-api.net\/api\/v1\/hero\/18",
            "role": {
                "id": 1,
                "name": "offense"
            },
            "sub_roles": [],
            "abilities": [
                {
                    "id": 84,
                    "name": "Pulse Pistols",
                    "description": "Tracer rapid-fires both of her pistols.",
                    "is_ultimate": false,
                    "url": "https:\/\/overwatch-api.net\/api\/v1\/ability\/84"
                },
                {
                    "id": 85,
                    "name": "Blink",
                    "description": "Tracer zips horizontally through space in the direction she\u2019s moving, and reappears several yards away. She stores up to three charges of the blink ability and generates more every few seconds.",
                    "is_ultimate": false,
                    "url": "https:\/\/overwatch-api.net\/api\/v1\/ability\/85"
                },
                {
                    "id": 86,
                    "name": "Recall",
                    "description": "Tracer bounds backward in time, returning her health, ammo and position on the map to precisely where they were a few seconds before.",
                    "is_ultimate": false,
                    "url": "https:\/\/overwatch-api.net\/api\/v1\/ability\/86"
                },
                {
                    "id": 87,
                    "name": "Pulse Bomb",
                    "description": "Tracer lobs a large bomb that adheres to any surface or unfortunate opponent it lands on. After a brief delay, the bomb explodes, dealing high damage to all enemies within its blast radius.",
                    "is_ultimate": true,
                    "url": "https:\/\/overwatch-api.net\/api\/v1\/ability\/87"
                }
            ],
            "rewards": [
                {
                    "id": 471,
                    "name": "Blink",
                    "cost": {
                        "currency": "credit",
                        "value": 25
                    },
                    "url": "https:\/\/overwatch-api.net\/api\/v1\/reward\/471",
                    "type": {
                        "id": 1,
                        "name": "spray",
                        "url": "https:\/\/overwatch-api.net\/api\/v1\/reward-type\/1"
                    },
                    "quality": {
                        "name": "common"
                    },
                    "event": null
                },
                {
                    "id": 472,
                    "name": "Bombs Away!",
                    "cost": {
                        "currency": "credit",
                        "value": 25
                    },
                    "url": "https:\/\/overwatch-api.net\/api\/v1\/reward\/472",
                    "type": {
                        "id": 1,
                        "name": "spray",
                        "url": "https:\/\/overwatch-api.net\/api[...]
